/*   Main   */

@import "compass/css3";
@import "color";
@import "mixin";
@import "layout";
@import "header";
@import "modal";
@import "footer";

body{
    position: fixed;
    min-height: 100vh;
}


@keyframes smaller-move-next{
    0%{
       transform:translateX(58vw) scaleY(1);
        opacity: 1;
    }
    
    33%{
       transform:translateX(58vw) scaleY(0.018); 
        opacity: 1;
    }
    66%{
        transform: translateX(-21vw) scaleY(0.018);
        opacity: 1;
    }
    100%{
        transform: translateX(-21vw) scaleY(0.018);
        opacity: 1;
    }
}
@keyframes smaller-move-next-m{
    0%{
       transform:translateX(0) scaleY(1);
        opacity: 1;
    }
    
    33%{
       transform:translateX(0) scaleY(0.018); 
        opacity: 1;
    }
    66%{
        transform: translateX(-100vw) scaleY(0.018);
        opacity: 1;
    }
    100%{
        transform: translateX(-100vw) scaleY(0.018);
        opacity: 1;
    }
}

@keyframes smaller-move-prev{
    0%{
       transform:translateX(58vw) scaleY(1);
        opacity: 1;
    }
    
    33%{
       transform:translateX(58vw) scaleY(0.018); 
        opacity: 1;
    }
    66%{
        transform: translateX(100vw) scaleY(0.018);
        opacity: 1;
    }
    100%{
        transform: translateX(100vw) scaleY(0.018);
        opacity: 1;
    }
}
@keyframes smaller-move-prev-m{
    0%{
       transform:translateX(0) scaleY(1);
        opacity: 1;
    }
    
    33%{
       transform:translateX(0) scaleY(0.018); 
        opacity: 1;
    }
    66%{
        transform: translateX(100vw) scaleY(0.018);
        opacity: 1;
    }
    100%{
        transform: translateX(100vw) scaleY(0.018);
        opacity: 1;
    }
}

@keyframes slide-in-next{
    0%{
       transform: translateX(100vw) scaleY(0.018);
        opacity: 1;
    }
    
    33%{
       transform: translateX(100vw) scaleY(0.018);
        opacity: 1;
    }
    66%{
        transform: translateX(58vw) scaleY(0.018);
        opacity: 1;
    }
    100%{
        transform: translateX(58vw) scaleY(1);
        opacity: 1;
    }
}
@keyframes slide-in-next-m{
    0%{
       transform: translateX(100vw) scaleY(0.018);
        opacity: 1;
    }
    
    33%{
       transform: translateX(100vw) scaleY(0.018);
        opacity: 1;
    }
    66%{
        transform: translateX(0) scaleY(0.018);
        opacity: 1;
    }
    100%{
        transform: translateX(0) scaleY(1);
        opacity: 1;
    }
}

@keyframes slide-in-prev{
    0%{
       transform: translateX(-100vw) scaleY(0.018);
        opacity: 1;
    }
    
    33%{
       transform: translateX(-100vw) scaleY(0.018);
        opacity: 1;
    }
    66%{
        transform: translateX(-21vw) scaleY(0.018);
        opacity: 1;
    }
    100%{
        transform: translateX(-21vw) scaleY(0.018);
        opacity: 1;
    }
}
@keyframes slide-in-prev-m{
    0%{
       transform: translateX(-100vw) scaleY(0.018);
        opacity: 1;
    }
    
    33%{
       transform: translateX(-100vw) scaleY(0.018);
        opacity: 1;
    }
    66%{
        transform: translateX(-100vw) scaleY(0.018);
        opacity: 1;
    }
    100%{
        transform: translateX(-100vw) scaleY(0.018);
        opacity: 1;
    }
}

@keyframes slide-out-next{
    0%{
       transform: translateX(-21vw) scaleY(0.018);
        opacity: 1;
    }
    
    33%{
       transform: translateX(-21vw) scaleY(0.018);
        opacity: 1;
    }
    66%{
        transform: translateX(-100vw) scaleY(0.018);
        opacity: 1;
    }
    100%{
        transform: translateX(-100vw) scaleY(0.018);
        opacity: 1;
    }
}

@keyframes slide-out-next-m{
    0%{
       transform: translateX(0) scaleY(0.018);
        opacity: 1;
    }
    
    33%{
       transform: translateX(0) scaleY(0.018);
        opacity: 1;
    }
    66%{
        transform: translateX(-100vw) scaleY(0.018);
        opacity: 1;
    }
    100%{
        transform: translateX(-100vw) scaleY(0.018);
        opacity: 1;
    }
}

@keyframes slide-out-prev{
    0%{
       transform: translateX(-21vw) scaleY(0.018);
        opacity: 1;
    }
    
    33%{
       transform: translateX(-21vw) scaleY(0.018);
        opacity: 1;
    }
    66%{
        transform: translateX(58vw) scaleY(0.018);
        opacity: 1;
    }
    100%{
        transform: translateX(58vw) scaleY(1);
        opacity: 1;
    }
}

@keyframes slide-out-prev-m{
    0%{
       transform: translateX(-100vw) scaleY(0.018);
        opacity: 1;
    }
    
    33%{
       transform: translateX(-100vw) scaleY(0.018);
        opacity: 1;
    }
    66%{
        transform: translateX(0) scaleY(0.018);
        opacity: 1;
    }
    100%{
        transform: translateX(0) scaleY(1);
        opacity: 1;
    }
}

.unexpand-next{
    animation: smaller-move-next 1.5s $easeInOutExpo;
    @media screen and (max-width:960px) and (orientation : portrait){
        
        animation: smaller-move-next-m 1.5s $easeInOutExpo;
        
    }
}
.unexpand-prev{
    animation: smaller-move-prev 1.5s $easeInOutExpo;
    @media screen and (max-width:960px) and (orientation : portrait){
        animation: smaller-move-prev-m 1.5s $easeInOutExpo;    
    }
}
.visual-out-next{
    animation: slide-out-next 1.5s $easeInOutExpo;
    @media screen and (max-width:960px) and (orientation : portrait){
        animation: slide-out-next-m 1.5s $easeInOutExpo;
    }
    
}
.visual-out-prev{
    animation: slide-out-prev 1.5s $easeInOutExpo;
    @media screen and (max-width:960px) and (orientation : portrait){
        animation: slide-out-prev-m 1.5s $easeInOutExpo;
    }
}
.visual-in-next{
    animation: slide-in-next 1.5s $easeInOutExpo;
    animation-fill-mode: forwards;
    @media screen and (max-width:960px) and (orientation : portrait){
      animation: slide-in-next-m 1.5s $easeInOutExpo;
      animation-fill-mode: forwards;  
    }
}
.visual-in-prev{
    animation: slide-in-prev 1.5s $easeInOutExpo;
    @media screen and (max-width:960px) and (orientation : portrait){
        animation: slide-in-prev-m 1.5s $easeInOutExpo;
    }
}


#visual{
    width: 100vw;
    height: 100hw;
    .interaction{
        width: 30vw;
        height: 100%;
        background: #000;
        position: absolute;
        left: 0;
        top: 0;
        transition:all $duration $easing;
        //top: 50%;
        //margin-top: -50%;
        &.v1{
            transform: translateX(-21vw) scaleY(0.018);
        }
        &.v2{
            transform: translateX(58vw) scaleY(1);
            opacity: 0;
        }
        &.v3{
            transform: translateX(100vw) scaleY(0.018);
        }
    }
}

@media screen and (max-width:960px) and (orientation : portrait){
    
    #visual{
        height: 45.5vh;
        .interaction{
            width: 100vw;
            height: 45.5vh;
            top: calc(100% - 45.5vh);
            &.v1{
                transform: translateX(-100vw) scaleY(0.018);
                display: none;
            }
            &.v2{
                transform: translateX(0) scaleY(1);
                opacity: 0;
            }
            &.v3{
                transform: translateX(100vw) scaleY(0.018);
                display: none;
            }
        }
    }
    
}


@keyframes type-mask{
     0%{
         transform-origin: 0 0;
         transform: scaleX(0);
         opacity: 1;
    }
    
    50%{
       transform: scaleX(1);
        opacity: 1;
    }
    
    100%{
        transform: scaleX(0);
        transform-origin: 100% 100%;
        opacity: 1;
        z-index: -1;
    }
}

@keyframes type-hide{
    0%{
        opacity: 1;
    }
    49%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    
    100%{
        opacity: 0;
    }
}

@keyframes type-show{
    49%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    
    100%{
        opacity: 1;
    }
}

.type-hide{
    span{
        animation: type-hide 0.75s $easeInOutExpo;
        animation-fill-mode: forwards;
    }
    &:before{
         animation: type-mask 0.75s $easeInOutExpo forwards;
    }
}

.type-show{
    span{
        animation: type-show 0.75s $easeInOutExpo;
        animation-fill-mode: forwards;
        animation-delay: 0.75s;
    }
    &:before{
        animation: type-mask 0.75s $easeInOutExpo forwards;
        animation-delay: 0.75s;
    }
}

.slogan{
    position: absolute; 
    top: 31.3%;
    left: 18.48%;
    width: 31.52%;
    .text-wrap{
        height: 474px;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        &:first-child{
            z-index: 1;
        }
        p{
            font-size: 60px;
            font-weight: 100;
            color: #000;
            margin-bottom: 10px;
            position: relative;
            line-height: 1;
            display: inline-block;
            span{
                opacity: 0;
            }
            em{
                font-weight: 700;
            }
            &:before{
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: #000;
                transform-origin: 0 0;
                opacity: 0;
                z-index: 1;
            }
            &.link{
                margin-top: 60px;
                font-size: 100%;
                a{
                    padding-right: 30px;
                    font-size: 20px;
                    font-weight: 700;
                    text-transform: uppercase;
                    background: url("../_images/main/btn_arrow.png") no-repeat right center;
                    display: inline-block;
                    position: relative;
                    z-index: 2;
                }
            }
            &.number{
                font-size: 24px;
                em{
                    padding-right: 15px;
                    background: url("../_images/main/split.png") no-repeat right center;
                    margin-right: 5px;
                }
            }
        }
    }
    .ui{
        position: absolute;
        top: 474px;
        z-index: 2;
        a{
            width: 40px;
            height: 40px;
            position: absolute;
            top: 0;
            text-indent: -9999px;
            &:nth-child(1){
                background: url("../_images/main/ui_prev.png") no-repeat center;
                left: -15px;
            }
            &:nth-child(2){
                background: url("../_images/main/ui_next.png") no-repeat center;
                left: 46px;
                &:before{
                    content: "";
                    display: inline-block;
                    border-left: 1px solid #ccc;
                    position: absolute;
                    top: 10px;
                    left: -11px;
                    height: 20px;
                }
            }
        }
    }
}

@media screen and (max-width:1600px){
    
    .slogan{
        width: 32.5%;
        .text-wrap{
            height: 420px;
            p{
                font-size: 50px;
                &.number{
                    font-size: 20px;
                }
            }
        }
        .ui{
            top: 420px;
        }
    }
    
}

@media screen and (max-width:1280px){
    
    .slogan{
        width: 39.58%;
        .text-wrap{
            height: 360px;
            p{
                font-size: 40px;
                &.number{
                    font-size: 16px;
                }
            }
        }
        .ui{
            top: 360px;
        }
    }
    
}

@media screen and (max-width:1280px) and (orientation : landscape){
    
    .slogan{
        width: 39.58%;
        top: 15%;
        .text-wrap{
            height: 200px;
            p{
                font-size: 30px;
                &.number{
                    font-size: 12px;
                    em{
                        background-size: 5px;
                        padding-right: 10px;
                    }
                }
                &.link{
                    margin-top: 0;
                    line-height: 40px;
                    a{
                        padding-right: 20px;
                        font-size: 12px;
                        background-size: 15px;
                    }
                }
            }
        }
        .ui{
            top: 200px;
            z-index: 2;
            a{
                width: 39px;
                height: 39px;
                &:nth-child(1){
                    left: -15px;
                }
                &:nth-child(2){
                    left: 25px;
                    &:before{
                        top: 12px;
                        left: -1px;
                        height: 16px;
                    }
                }
            }
        }
    }
    
}

@media screen and (max-width:960px) and (orientation : portrait){
    
    .slogan{
        top: 20.63%;
        left: 10.9%;
        width: 100%;
        height: calc(40vh - 56px);
        .text-wrap{
            height: 100%;
            p{
                font-size: 30px;
                margin-bottom: 5px;
                &.link{
                    margin-top: 10px;
                    line-height: 40px;
                    a{
                        padding-right: 20px;
                        font-size: 12px;
                        background-size: 15px;
                    }
                }
                &.number{
                    font-size: 12px;
                    em{
                        background-size: 5px;
                        padding-right: 10px;
                    }
                }
            }
        }
        .ui{
            position: fixed;
            top: calc(48vh);
            left: calc(100vw - 75px);
            z-index: 2;
            a{
                width: 39px;
                height: 39px;
                &:nth-child(1){
                    left: -15px;
                }
                &:nth-child(2){
                    left: 25px;
                    &:before{
                        top: 12px;
                        left: -1px;
                        height: 16px;
                    }
                }
            }
        }
    }
}


@keyframes loader-collaps{
    0%{
       transform:translateX(58vw) scaleY(1);
        opacity: 1;
    }
    
    100%{
       transform:translateX(58vw) scaleY(0.018);
        opacity: 0;
    }
    
}

@keyframes loader-collaps-m{
    0%{
       transform:translateX(0) scaleY(1);
        opacity: 1;
    }
    
    100%{
       transform:translateX(0) scaleY(0.018);
        opacity: 0;
    }
    
}

@keyframes loader-expand{
    0%{
       transform:translateX(58vw) scaleY(0.018);
        opacity: 0
    }
    
    100%{
       transform:translateX(58vw) scaleY(1);
       opacity: 1;
    }
    
}

@keyframes loader-expand-m{
    0%{
       transform:translateX(0) scaleY(0.018);
        opacity: 0
    }
    
    100%{
       transform:translateX(0) scaleY(1);
       opacity: 1;
    }
    
}

.loader-collaps{
    animation: loader-collaps 0.5s $easeInOutExpo;
    animation-fill-mode: forwards;
    
    @media screen and (max-width:960px) and (orientation : portrait){
        
        animation: loader-collaps-m 0.5s $easeInOutExpo;
        animation-fill-mode: forwards;
        
    }
}

.loader-expand{
    animation: loader-expand 0.5s $easeInOutExpo;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    @media screen and (max-width:960px) and (orientation : portrait){
        
        animation: loader-expand-m 0.5s $easeInOutExpo;
        animation-fill-mode: forwards;
        animation-delay: 1s;
        
    }
}

#loader{
    .item{
        height: 100vh;
        width: 30vw;
        background: #000;
        position: absolute;
        left: 0;
        top: 0;
        transition:all $duration $easing;
        transform: translateX(58vw) scaleY(0.018);
        overflow: hidden;
        z-index: 1;
        opacity: 0;
        canvas{
            width: 100vw !important;
            height: 100vh !important;
            position: absolute;
            left: -70%;
            //top: -20%;
        }
        &:nth-child(2){
            background: url("../_images/works/thumb_bizzle.jpg") no-repeat center / cover;
        }
        &:nth-child(3){
            background: url("../_images/works/thumb_finset.jpg") no-repeat center / cover;
        }
        &:nth-child(4){
            background: url("../_images/works/thumb_plk.jpg") no-repeat center / cover;
        }
    }
}

@media screen and (max-width:960px) and (orientation : portrait){
    
    #loader{
        .item{
            height: 45.5vh;
            width: 100vw;
            top: calc(100% - 45.5vh);
            transform: translateX(0) scaleY(0.018);
            canvas{
                width: 100vw !important;
                height: 100vh !important;
                position: absolute;
                left: 0;
            }
        }
    }   
}

















